<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.org.nenu.mapper.AdministratorMapper">
    <resultMap id="administratorResult" type="com.org.nenu.entity.Administrator">
        <id property="id" column="id"></id>
        <result property="account_number" column="account_number"></result>
        <result property="name" column="name"></result>
        <result property="e_mail" column="e_mail"></result>
        <result property="phone_number" column="phone_number"></result>
        <result property="password" column="password"></result>
        <result property="role" column="role"></result>
    </resultMap>

    <insert id="insertAdministrator"
            parameterType="com.org.nenu.entity.Administrator"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO administrator(account_number, name, e_mail, phone_number, password, role)
        VALUES
        (#{account_number}, #{name}, #{e_mail}, #{phone_number}, #{password}, #{role})
    </insert>

    <select id="getAdministratorByAccountNumber" resultMap="administratorResult">
        SELECT * FROM administrator
        WHERE
        account_number = #{account_number}
    </select>

    <select id="getAllAdministrator" resultMap="administratorResult">
        SELECT * FROM administrator
    </select>
</mapper>