<div class="container-fluid" id="edit_paper_of_topic_content_edit"></div>

<div class="container-fluid" id="edit_paper_of_topic_content_add" style="margin-top: 20px">
    <form>
        <div class="form-group">
            <label for="add_select_one_paper_topic_description">题目描述</label>
            <input type="text" class="form-control" required id="add_select_one_paper_topic_description" placeholder="输入该题目的题干">
        </div>

        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="add_select_one_paper_itemA">A选项描述</label>
                <input type="text" class="form-control" required id="add_select_one_paper_itemA">
            </div>
            <div class="form-group col-md-3">
                <label for="add_select_one_paper_itemB">B选项描述</label>
                <input type="text" class="form-control" required id="add_select_one_paper_itemB">
            </div>
            <div class="form-group col-md-3">
                <label for="add_select_one_paper_itemC">C选项描述</label>
                <input type="text" class="form-control" required id="add_select_one_paper_itemC">
            </div>
            <div class="form-group col-md-3">
                <label for="add_select_one_paper_itemD">D选项描述</label>
                <input type="text" class="form-control" required id="add_select_one_paper_itemD">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="add_select_one_paper_answer">正确答案</label>
                <input type="text" class="form-control" required id="add_select_one_paper_answer">
            </div>
            <div class="form-group col-md-4">
                <label for="add_select_one_paper_grade_per">题目分值</label>
                <input type="number" class="form-control" required id="add_select_one_paper_grade_per">
            </div>
            <div class="form-group col-md-4">
                <label for="add_select_one_paper_topic_num">题目号</label>
                <input type="number" class="form-control" required id="add_select_one_paper_topic_num">
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-4">
                <button type="button" class="btn btn-secondary btn-block my_test_button" id="create_one_select_submit">新增选择题</button>
            </div>
        </div>
    </form>
</div>