<!--test-->
<form>
    <div class="form-row select_edit_one">
        <div class="form-group col-md-4 select_edit_one_1">
            <label>题目编号</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group col-md-4 select_edit_one_2">
            <label>题目所属试卷名</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group col-md-4 select_edit_one_3">
            <label>题目所属试卷编号</label>
            <input type="text" class="form-control">
        </div>
    </div>

    <div class="form-group select_edit_two">
        <label>题目描述</label>
        <input type="text" class="form-control" placeholder="输入该题目的题干">
    </div>

    <div class="form-row select_edit_three">
        <div class="form-group col-md-3 select_edit_three_1">
            <label>A选项描述</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group col-md-3 select_edit_three_2">
            <label>B选项描述</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group col-md-3 select_edit_three_3">
            <label>C选项描述</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group col-md-3 select_edit_three_4">
            <label>D选项描述</label>
            <input type="text" class="form-control">
        </div>
    </div>

    <div class="form-row select_edit_four">
        <div class="form-group col-md-4 select_edit_four_1">
            <label >正确答案</label>
            <input type="text" class="form-control">
        </div>

        <div class="form-group col-md-4 select_edit_four_2">
            <label>题目分值</label>
            <input type="number" class="form-control">
        </div>

        <div class="form-group col-md-4 select_edit_four_3">
            <label>题号</label>
            <input type="number" class="form-control" placeholder="题目位于试卷中的题号">
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-3">
            <button type="button" class="btn btn-secondary btn-block ensure_change_select_topic">确认修改试题</button>
        </div>

        <div class="col-3">
            <button type="button" class="btn btn-secondary btn-block ensure_delete_select_topic">确认删除试题</button>
        </div>
    </div>

</form>