<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ajx example</title>
    <script crossorigin="anonymous" src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <script th:src="@{/hello.js}"></script>

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

</head>
<body>
<h1>XMLHttpRequest 对象</h1>

<button type="button" onclick="loadDoc()">请求数据</button>
<p id="demo"></p>


<div>
    <p class="greeting-id">The ID is </p>
    <p class="greeting-content">The content is </p>

    <div>
        <input name="id" id="my_id">
        <input name="content" id="my_content">
        <button name="btn001" id="my_submit" onclick="onSubmit()">OK</button>
    </div>

</div>

</body>
</html>